<h1>
  <%= @post.title %> <br>
  <small>
    submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
  </small>
</h1>
<div class="row">
  <div class="col-md-8">
    <%= render partial: "labels/list", locals: {labels: @post.labels} %>
    <br />
  </div>
</div>
<br />
<div class="row">
    <p><%= @post.body %></p>
      <div><!--Start Comments-->
        <div class="media">
          <div class="media-body">
            <h3>Comments?</h3>
            <%= render partial: 'comments/comment', locals: {comments: @post.comments}%>
            <% if current_user %>
            <%= render partial: 'comments/form', locals: {post: @post, comment: Comment.new} %>
            <% end %>
          </div>
        </div>
      </div><!--End Comments  -->
  </div>
